 .body{
   background-image: url(bground.jpg);
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: 111% 100%;
   padding-right: 3%;
 }
.header{
  background-image: url(header.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% 75%;
  margin: 1%;
  opacity: 0.2;
  transition: 0.5s;
}
.header:hover{
  opacity: 1;
}
.headert{
  color: white;
  text-align: center;
  padding-top: 18%;
  font-family: "Sofia";
}
@media screen and(max-width:800px) {
  .headert{
    font-family: cursive , serif ,fantasy ;
  }
}
